@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --color-primary: #d35400;
    --color-primary-dark: #a74300;

    --color-white: #fff;

    --color-gray-light: #757575;
    --color-gray-dark: #333;
}

body{
    font-size: 10px;
    font-family: "Poppins", sans-serif;
    position: relative;
}
#cursor{
    width: 40px;
    height: 40px;
    border: 3px solid #d3540080;
    border-radius: 50%;
    position: fixed;
    box-sizing: border-box;
    transition: all .1s ease;
    transform: translate(-50%, -50%) rotate(0deg);
    pointer-events: none;
    z-index: 11111;
    top: 0;
    left: 0;
}
.cursor-hovered{
    width: 100px!important;
    height: 100px !important;
    border:none!important;
    background-color: #d35400b7;
    transform: translate(-50%, -50%) rotate(0deg);
    transition: .5s ease-in-out;
    animation: rotate-anim 5s linear infinite;
    cursor: pointer;
}
@keyframes rotate-anim{
    from{
        transform: translate(-50%, -50%) rotate(0deg);
    }
    to{
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

body>a:hover ~ #cursor{
    width: 100px;
    height: 100px;
    transition: .1s ease;
}

.container{
    padding: 2rem 3rem;

}

.header{
    padding: 2rem 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #333;
}

.primary__heading{
    font-size: 1.5rem;
    font-weight: 600;
    color: #2c3e50;
}
.secondary__heading{
    font-size: 1.2rem;
    font-weight: 600;
}
.tertiary__heading{
    font-size: 1rem;
    font-weight: 600;
}

.logo__box{
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
    position: relative;
}
.circle{
    position: absolute;
    top: -12px;
    left: 0;
    background-color: #16a08570;
    z-index: -1;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    /* border: 1px solid #000; */
}
/* .circle:nth-of-type(2){
    top: -5px;
    width: 40px;
    height: 40px;
    left:35%;
    background-color: #34495e;
} */
.color--1{
    color: #34495e
}
.color--2{
    color: #d35400;
}
.color--3{
    color: #16a085
}

.landing{
    padding: 5rem 4rem 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* width: 60%; */
    margin: 0 auto;
}
.landing__heading{
    font-weight: 500;
    font-size: 3.5rem;
    padding: 1.5rem 0;
    color: #2c3e50;
}
.landing__detail{
    font-size: 1.2rem;
    color: #757575;
    width: 75%;
}

/* portfolio */
.portfolio{

}
.portfolio__header{
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1111;
    background: #fff;
}
.portfolio__category{
    flex: 1;
    padding: 0 3rem;
}
.portfolio__category ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.portfolio__category ul li{
    display: inline-block;
    margin: .2rem;
    font-size: .8rem;
    cursor: pointer;
    /* border-bottom: 1px solid #d35400; */
    padding: .5rem 1rem;
    color: #757575;
}
.portfolio__category ul li:hover{
    color: var(--color-primary);
}
.portfolio__category--active{
    font-weight: 600;
    border-bottom: 2px solid #d35400;
}
.view-all{
    text-transform: capitalize;
    text-decoration: none;
    color: var(--color-primary);
    font-size: .9rem;
    font-weight: 500;
    display: block;
    transform: translateY(0);
    transition: transform .5s cubic-bezier(0.215, 0.610, 0.355, 1);
}
.view-all:hover{
    transform: translateY(-.5rem);
}

.portfolio__section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 4rem 0;
}
.portfolio__card{
    border: 1px solid #f7f7f7;
    border-radius: 4px;
    width: 31%;
    height: 70vh;
    margin-bottom: 1.5rem;
    position: relative;
    cursor: pointer;
    transition: box-shadow .5s ease;
    overflow: hidden;
    transition: all .3s ease;
}
/* .portfolio__card:not(:last-child){
    margin-right: 1rem;
} */
.portfolio__image-box{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.portfolio__image-box img{
    width: 40%;
    height: 40%;
    object-fit: contain;
    transform: scale(1);
    transition: all .5s ease;
    mix-blend-mode: screen;
}
.portfolio__detail{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: all 1s ease-in-out;
}
.portfolio__detail h3, .portfolio__detail p{
    opacity: 0;
    transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transform: translateY(3rem); 
}
.portfolio__card:hover{
    box-shadow: 0 1rem 1.5rem rgba(0,0,0,.1);
}
.portfolio__card:hover .portfolio__image-box img{
    transform: scale(.7);
    filter: blur(10px);
}
.portfolio__card:hover .portfolio__detail{
    /* background-image: linear-gradient(to bottom right, #d3540099, #a7430099); */
    opacity: 1;
    transform: translateY(0); 
}
.portfolio__card:hover .portfolio__detail h3, .portfolio__detail p{
    color: var(--color-gray-dark);
    font-weight: 700;
    opacity: 1;
    transform: translateY(0); 
}

/* view more button */
.view-more__section{
    text-align: center;
    margin-bottom: 3rem;
}
.view-more__button{
    /* display: block; */
    text-decoration: none;
    font-size: 1rem;
    color: var(--color-primary);
    padding: 1rem 2rem;
    /* border: 1px solid var(--color-primary); */
    border-radius: 4px;
    transition: all .3s ease;
}
.view-more__button:hover{
    background-color: var(--color-primary);
    color: var(--color-white);
    box-shadow: 0 1rem 1.5rem #d3540080;
}

/* blog */
.blog-section{
    /* border-top: 1px solid var(--color-gray-light); */
}
.blog__header{
    padding: 2rem 0;
}
.blog__container{
    display: flex;
    justify-content: space-between;
}
.blog__card{
    width: 31%;
    cursor: pointer;
    text-decoration: none;
}
.blog__image-box{
    width: 100%;
    position: relative;
    overflow: hidden;
}
.blog__image{
    width: 100%;
    object-fit: cover;
    transition: .3s ease;
    transform: scale(1);
}
.blog__image:hover{
    opacity: .6;
    transform: scale(1.1);
}
.blog__time-category{
    /* padding: 1rem 0; */
    display: flex;
    align-items: center;
    margin-top: .5rem;
}
.blog__time-category > *{
    margin-right: 1rem;
}
.time{
    font-size: 1rem;
    font-weight: 200;
}
.category{
    background-color: var(--color-primary);
    padding: .3rem 1rem;
    color: var(--color-white);
    border-radius: 2px;
}
.category--2{
    background-color: #00856f;
}
.category--3{
    background-color: #71009e;
}
.blog__title{
    padding-top: .5rem;
}
.blog__title h3{
    font-size: 1.5rem;
    font-weight: 300;
    color: var(--color-gray-light);
}
.blog__title:hover h3{
    color: var(--color-primary);
}
.blog__detail{

}
.blog__detail p{
    font-size: 1rem;
    padding: 1rem 0;
    color: #959595;
    font-weight: 200;
}

/* footer */
.footer{
    background-color: rgb(250, 250, 250);
    padding: 3rem 0;
}
.footer__content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}
.footer__links{
    margin-bottom: 1rem;
}
.footer__link{
    margin: 0 1.5rem;
    font-size: .8rem;
    text-decoration: none;
    color: #333;
    transform: translateY(0);
    display: inline-block;
    transition: transform .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.footer__link:hover{
    transform: translateY(-.5rem);
    font-size: 500;
    color: #d35400;
}
.footer__privacy{
    color: #757575;
    font-size: .7rem;
}