@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --white-color-light: #dde1e7;
    --text-color: #FF5722;
    --text-color-light: rgb(255, 139, 103);

    --gray-color-light: #92A1B8;
    --box-shadow: -3px -3px 7px #ffffff73, 
    3px 3px 5px rgba(94, 104, 121, .288); 

    --box-shadow-inset:inset -3px -3px 7px #ffffff73, inset 
    3px 3px 5px rgba(94, 104, 121, .288); 
}

[data-theme="dark"] {
    --white-color-light: #292929;
    --text-color: #FF5722;
    --gray-color-light: #92A1B8;
    --box-shadow: 
            -3px -3px 7px rgba(255,255,255,.05), 
            3px 3px 5px rgba(0,0,0,.51); 

    --box-shadow-inset: 
            inset -3px -3px 7px rgba(255,255,255,.05), 
            inset 3px 3px 5px rgba(0,0,0,.51); 
    
}


body{
    font-family: "Orbitron", sans-serif;
    background-color:var(--white-color-light);
}
.heading{
    display: flex;
    /* width: 50%; */
    padding: 2rem 4rem;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;

}

h1{
    font-size: 2rem;
    font-weight: 500;
    color: var(--text-color);
    /* margin: 0 auto; */
    /* padding: 3rem; */
}

/* logo here */
.logo__box{
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
    position: absolute;
    top: 2.5rem;
    left: 50%;
    transform: translateX(-50%);
    font-family: "Poppins", sans-serif;
    align-self: flex-end;
}
.circle{
    position: absolute;
    top: -12px;
    left: 0;
    background-color: #16a08570;
    z-index: -1;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    /* border: 1px solid #000; */
}
/* .circle:nth-of-type(2){
    top: -5px;
    width: 40px;
    height: 40px;
    left:35%;
    background-color: #34495e;
} */
.color--1{
    color: #34495e
}
.color--2{
    color: #d35400;
}
.color--3{
    color: #16a085
}

@media only screen and (max-width: 520px){
    .logo__box{
        display: none;
    }
}

/* toggle css */
.theme__toggle{

}
.theme__switch-wrapper{
    /* display: block; */
}
.theme__switch{
    display: inline-block;
    height: 30px;
    position: relative;
    width: 60px;
}
.theme__switch input{
    display: none;
}
.slider{
    box-shadow: var(--box-shadow),var(--box-shadow-inset);
    background-color: inherit;
    position: absolute;
    bottom: 0;
    cursor: pointer;
    left: 0;
    right: 0;
    top: 0;
    transition: .4s;
    border: 2px solid (255, 255, 255, .2);
}
.slider::before{
    content: "";
    background-color: var(--white-color-light);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    position: absolute;
    height: 24px;
    top: 3px;
    left: 4px;
    width: 24px;
    transition: .4s;
}
input:checked + .slider{
    background-color: var(--white-color-light);
    box-shadow: var(--box-shadow), var(--box-shadow-inset);
}
input:checked + .slider::before{
    background-color: var(--text-color);
    transform: translateX(28px);
}
.slider.round{
    border-radius: 34px;
}
.slider.round::before{
    border-radius: 50%;
}


/* container */
.container{
    width: 80%;
  /* height: 550px; */
  color: var(--gray-color-light);
  margin: 4rem auto;

}
#calculator{
    width: 320px;
    padding: 20px;
    background-color:var(--white-color-light);
    margin: 0 auto;
    position: relative;
    border-radius: 1rem;
    box-shadow: var(--box-shadow);
}

/* result section */
#result{
    height: 120px;
}

#history, #output{
    text-align: right;
    min-height: 9vh;
}
#history{
    padding: 1rem 0;
    font-size: 1.2rem;
    color: var(--text-color-light);
}
#output{
    color: var(--text-color);
    font-size: 2rem;
    box-shadow: var(--box-shadow-inset);
    padding: .6rem .5rem;
    border-radius: 5px;
}

/* calculator keys  */
#key__container{
    /* height: 400px; */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 1rem;
}

.operator,
.number,
.empty{
    width: 60px;
    height: 60px;
    color: var(--text-color);
    background-color: var(--white-color-light);
    border: none;
    outline: none;
    border-radius: 20%;
    box-shadow: var(--box-shadow);
    font-weight: 700;
    font-size: 1rem;
    margin-bottom: 1rem;
    cursor: pointer;
    font-family: "Orbitron", sans-serif;
}
.operator:active, 
.empty:active, 
.number:active{
    font-size: .8rem;
    box-shadow: var(--box-shadow-inset);
}

#apple{
    box-shadow: none;
}


